<ol class="post-list">
    {{#each posts as |post|}}
        <li>
            <article class="post">
                <div class="title">
                    <h2>
                        {{post.title}} 
                        <span> (Posted by {{post.user.username}} on
                            {{moment post.created_at "dddd, DD MMMM YYYY HH:mm:ss"}})
                    </span>
                    </h2>
                    
                </div>
                <div class="meta">
                    <a href="/post/{{post.id}}">{{post.content}}</a>
                </div>
            </article>
        </li>
    {{/each}}
</ol> 

